In [ ]:
import pandas as pd
from sqlalchemy import create_engine

We import pandas as a way to manipulate our data. Pandas uses sqlalchemy to interact with relational databases, so that is needed to create connection and so on.

In [ ]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

This instruction read the first 100 lines from our dataset (a .csv file).
The last to lines basically tell pandas to translate the dates in the SQL date type instead of normal text.

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

We create the connection to postgres (note that the string is in this format *type_of_connection://username:password@host:port/database*).
The second part creates the database schema and prints it. The table will have yellow_taxi_data as a name and uses the df variable previously set to populate the rows.

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

df.head(n = 0).to_sql(name='yellow_taxi_data', con = engine, if_exists='replace')

Inserting millions of rows of data at one time can create many problems. What we need to do is to **batch** (basically divide) the problem in smaller ones.
To do that, we can use pandas **iterators**. These work like normal iterators, the first time we run the .to_sql only to recreate the schema (if_exist='replace' and head(n=0) means that we dont actually insert data inside the table and just recreate the schema from scratch, dropping the previous one).

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

This is one way to insert data (note that we use if_exists='appen' so that we dont drop the table but just add data), but we are not taking advantage of our iterator.

In [ ]:
from time import time

while True:
    t_start = time()
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

    t_end = time()

    print ('inserted another chunk, took %3.f second' % (t_end - t_start))

This, while not being the best and most elegant looking code, is a way to insert every last piece of data in our dataset (in chuncks of chunksize=100000 as previously stated).
We basically iter until df = next(df_iter) throws an Exception and forcefully closes the code snippet, in fact ***next***(*iterator*) returns the next element of the iterator if present, and an Exception if the iterator is empty.
In the future we will see ways to manage this operations more safely and efficiently.